--extra-index-url https://download.pytorch.org/whl/cu121
beautifulsoup4==4.12.3
numpy==1.22.4
openai==1.30.5
PyYAML==6.0.1
Requests==2.32.3
sentence_transformers==2.7.0
torch==2.2.2
transformers==4.40.1
bitsandbytes==0.43.1
accelerate==0.30.1
